.praia{

    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.mar{
    width: 100vw;
    height: 100vh;
    display: none;
}

.visivel{

    display: inline-block;

}

.invisivel{

    display: none;

}